.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-black);
}

.main-content {
  flex: 1;
  background-color: var(--bs-black);
  padding-top: var(--bs-nav-height);
}
